body {
  font-family: "微软雅黑", "宋体";
  font-size: 14px;
  color: #222222;
  margin: 0;
  padding: 0;
  min-width:1200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "微软雅黑", "宋体";
}

section {
  margin-bottom: 60px;
}

a {
  color: #222222;
}
a:hover, a:focus {
  text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a,
a:focus,
a:hover,
a:active,
button,
button:hover {
  outline: 0 !important;
}
img {
	vertical-align: middle;
	border: none;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
	text-decoration: none;
	outline: none;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}